.root {
  height: 100vh;
  width: 100vw;

  color: white;
  z-index: 1;
  position: relative;

  background-color: white;
}

.content {
  display: flex;
  align-items: center;

  gap: 30px;

  width: 100%;
  height: 100vh;

  border-radius: 30px;
}

.info,
.personal {
  height: 70%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}
.info {
  flex-grow: 2;
}

.personal {
  flex-grow: 1;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 144px;
}

.wave .shape {
  fill: var(--background-secondary);
}
