.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  padding: 10px 20px;

  border: 1px solid var(--blue-main);
  border-radius: 6px;

  color: var(--blue-main);
  font-family: monospace;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: var(--blue-main-transparent);
  }
}

.size {
  &_small {
    height: 32px;
  }
  &_medium {
    height: 44px;
  }

  &_large {
    padding: 1.25rem 1.75rem;
    font-size: 16px;

    @media (max-width: 470px) {
      padding: 0.75rem 1rem;

      font-size: 14px;
    }
  }
}
