.root {
  position: relative;

  width: 490px;
  height: 330px;

  border-radius: 6px;

  color: white;
  background-color: rgba(73, 86, 112, 0.3);

  cursor: pointer;

  &::before,
  .border {
    opacity: 0;
    transition: opacity 500ms;
    border-radius: inherit;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );

    z-index: 3;
  }

  .border {
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.3),
      transparent 40%
    );

    z-index: 1;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.content {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: var(--background-main);
  border-radius: 6px;
  margin: 1px;
  z-index: 2;
  position: relative;
}

.container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 24px;

  background: linear-gradient(
    0deg,
    rgba(19, 19, 21, 1) 50%,

    rgba(255, 215, 130, 0) 100%
  );

  border-radius: inherit;
}

.image {
  width: 100%;

  border-radius: inherit;

  opacity: 0.5;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.title {
  font-size: 24px;
}

.description {
  font-size: 18px;

  color: var(--light-slate);

  margin-top: 12px;

  min-height: 44px;
}

.stack {
  display: flex;

  margin-top: 24px;
}

.tech {
  margin-right: 10px;

  color: var(--blue-main);
}
