.root {
  scroll-margin-top: var(--nav-height);

  padding-bottom: 20px;
}

.heading {
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--slate);

  &::before {
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    margin-right: 10px;
    background-color: var(--dark-slate);
  }
  &::after {
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    margin-left: 6px;
    background-color: var(--dark-slate);
  }
}

.content {
  min-height: 50vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-top: 80px;

  h2 {
    font-size: 38px;

    color: white;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;

  padding: 80px 0;
}

.links {
  display: flex;

  @media (max-width: 830px) {
    display: initial;

    width: 100%;
  }
}

.link {
  display: flex;
  align-items: center;

  width: min-content;

  margin-bottom: 24px;

  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &:first-of-type {
    margin-right: 12px;
  }

  &:hover {
    color: var(--blue-main);
  }
}

.icon {
  height: 32px;
  width: 32px;

  margin-right: 12px;

  fill: var(--blue-main);
  color: var(--blue-main);
}
