.root {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;

  width: 100%;
  height: var(--nav-height);

  background-color: var(--background-main-transparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.icon {
  fill: var(--blue-main);

  cursor: pointer;

  rect {
    fill: none;

    stroke: var(--blue-main);
  }
}

.navigation {
  display: flex;
  margin-left: 50px;
}

.item {
  margin-right: 24px;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--blue-main);
  }
}

.number {
  margin-right: 6px;
  color: var(--blue-main);
}
