.root {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;

  width: 100%;
  height: var(--nav-height);

  background-color: var(--background-main-transparent);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  @media (max-width: 830px) {
    padding: 0 10px;
  }
}

.icon {
  fill: var(--blue-main);

  cursor: pointer;

  rect {
    fill: none;

    stroke: var(--blue-main);
  }
}

.resume {
  @media (max-width: 830px) {
    display: none;
  }
}

.burger {
  display: none;

  @media (max-width: 830px) {
    display: block;
  }
}
