.root {
  border-radius: 50px;

  width: 100%;
  max-width: 300px;

  height: 6px;

  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);

  @media screen and (max-width: 830px) {
    transform: rotate(90deg);
    left: -147px;
    bottom: unset;
    top: 50%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 33%;

  height: 2px;

  border-radius: 50px;

  transition: all 0.2s ease-in-out;
  background-color: var(--background-secondary);
}
